body{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-size: 0.16rem;
}
.header{
	width: 100%;
	height: auto;
	position: relative;
	text-align: center;
	a{
		position: absolute;
		top: 0.1rem;
	}
	a:nth-child(1){
		left: 5%;
	}
	a:nth-child(2){
		right: 5%;
	}
	p{
		line-height: 0.4rem;
	}
}
.section{
	width: 100%;
	height: auto;
	flex:1;
	overflow-y:scroll;
	.img{
		img{
			width: 100%;
		}
	}
	.main{
		width:100%;
		height: auto;
		border-bottom: 0.1rem solid #eee;
		p:nth-child(1){
			padding-left:0.1rem;
			line-height: 0.3rem;
			color: #4F99F2;
		}
		p{
			font-size: 0.14rem;
			color: #333333;
		}
		p:nth-child(2){
			padding-left:0.1rem;
			line-height: 0.3rem; 
		}
		p:nth-child(3){
			padding-left:0.25rem;
		}
		p:nth-child(4){
			padding-left:0.1rem;
			line-height: 0.3rem; 
		}
		p:nth-child(5){
			padding-left:0.25rem;
		}
		p:nth-child(6){
			line-height: 0.3rem; 
			padding-left:0.1rem;
		}
		p:nth-child(7){
			padding-left:0.25rem;
			padding-bottom: 0.1rem
		}
	}
	.cardeasy{
		width: 100%;
		height: auto;
		font-size: 0.14rem;
		p:nth-child(1){
			width: 100%;
			height:auto;
			text-align: center;
			line-height: 0.4rem;
			background: #4F99F2;
			color: #fff;
		}
		p:nth-child(2){
			width: 1.6rem;
			margin: 0.15rem auto;
			img{
				width: 1.6rem;
			}
		}
		p:nth-child(3){
			padding-left: 0.1rem;
			padding-bottom: 0.2rem
		}
	}
	.list{
		width: 100%;
		height: auto;
		ul{
			display: flex;
			li{
				flex:1;
				text-align: center;
				font-size: 0.14rem;
				p:nth-child(2){
					color:#7BB3F5;
				}
			}
		}
		.list-a{
			width:100%;
			height: auto;
			display: flex;
			ol{
				flex:1;
				font-size: 0.12rem;
				padding-left: 5%;
				padding-top:0.1rem;
				li{
					line-height: 0.2rem;
					color: #666666;
				}
			}
		}
	}
	.map{
		width:100%;
		height: auto;
		dl{
			display: flex;
			padding:0.1rem;
			dt{
				img{
					width: 0.45rem;
					border-radius: 5px;
				}
			}
			dd{
				font-size: 0.12rem;
				p{
					line-height: 0.2rem;
					padding-left: 0.1rem;
				}
				p:nth-child(2){
					a{
						color:  #70ACF4;
						text-decoration:underline;
					}
				}
			}
		}
		p{
			line-height: 0.3rem;
			padding-left: 0.1rem;
			font-size: 0.12rem;
		}
		#allmap{
			width: 100%;
			height: 3rem;
		}
	}
	.material{
		width: 100%;
		height: auto;
		padding-top: 0.2rem;
		text-align: center;
		p{
			line-height: 0.2rem;
			color: #4f99f2;
			i:nth-child(5){
				color:#ccc;
			}
		}
		.material-a{
			display: flex;
    		-webkit-flex-wrap: wrap;
			dl{
				width: 50%;
				padding:0.08rem 0;
				dt{
					img{
						width: 0.8rem;
					}
				}
				dd{
					padding-top: 0.08rem;
					color: #4f99f2;
				}
			}
		}
	}
	.products{
		width: 100%;
		height: auto;
		h2{
			text-align: center;
			line-height: 0.3rem;
			color: #4f99f2;
			font-size: 0.16rem;
			font-weight:normal;
		}
		p{
			position: relative;
			span{
				position: absolute;
			}
			span:nth-child(1){
				display: block;
				width: 0.2rem;
				height: 0.2rem;
				text-align: center;
				line-height: 0.2rem;
				border-radius: 50%;
				background: #4f99f2;
				top: 0.08rem;
				left: 50%;
				i{
					color: #fff;
				}
			}
			span:nth-child(2){
				top: 0.08rem;
				left: 60%;

			}
			span:nth-child(3){
				top: 0.08rem;
				right: 5%;

			}
		}
		dl{
			text-align: center;
			dt{
				img{
					width: 1.18rem;
				}
			}
			dd{
				padding: 0.1rem 0.15rem;
				font-size: 0.14rem;
			}
		}
		p{
			padding: 0.1rem 0.12rem;
			font-size: 0.14rem;
		}
		ul{
			display: flex;
    		-webkit-flex-wrap: wrap;
			text-align: center;
			li{
				width: 33.3%;
				position: relative;
				font-style: 0.1rem;
				line-height: 0.3rem;
				i{
					display: block;
					width: 0.2rem;
					height: 0.2rem;
					text-align: center;
					line-height: 0.2rem;
					border-radius: 50%;
					background: #4f99f2;
					position: absolute;
					top:0.05rem;
					left: 1%;
					color: #fff;
				}
			}
		}
	}
	.sj{
		width: 100%;
		height: auto;
		ul{
			padding: 0 0.1rem;
			li{
				line-height: 0.4rem;
				i{
					float: right;
				}
			}
		}
		h2{
			text-align: center;
			line-height: 0.3rem;
			color: #4f99f2;
			font-size: 0.16rem;
			font-weight:normal;
		}
		.sj-a{
			display: flex;
			text-align: center;
			dl{
				flex:1;
				dt{
					img{
						width: 1.02rem;
					}
				}
				dd{
					p{
						font-size: 0.1rem;
					}
					p:nth-child(3){
						i{
							color: #4f99f2;
						}
						i:nth-child(5){
							color: #ccc;
						}
					}
				}
			}
		}
	}
}